 <p>Please select a language.</p>
<div class="language-card spanish">
    <button class="btn btn-primary" id="spanish-button">Spanish</button>
</div>
<div class="language-card japanese">
    <button class="btn btn-primary" id="japanese-button">Japanese</button>
</div>
        <div id="quiz-container">
            {{#each spanishQuiz}}
                <div class="question">
                    <p>{{this.question}}</p>
                </div>
                <div class="choices">
                    {{#each this.choices}}
                        <input type="radio" name="choice" value="{{@index}}"> {{this}}<br>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    <div class="summary">
                <p>Your score: {{correctAnswers}} out of {{totalQuestions}}</p>
            </div>
            <a id="returnHome" href="/">Return Home</a>
</div>
<script src="/js/languageSelection.js"></script>
