
<div class="language-card spanish">
    <button class="btn btn-primary" id="spanish-button">Spanish</button>
</div>
<div class="language-card japanese">
    <button class="btn btn-primary" id="japanese-button">Japanese</button>
</div>

{{#if selectedLanguage}}
    {{#if (eq selectedLanguage "Spanish")}}
        <div id="spanish-quiz-container">
            {{#each spanishQuiz}}
                <div class="question">
                    <p>{{this.question}}</p>
                </div>
                <div class="choices">
                    {{#each this.choices}}
                        <input type="radio" name="choice" value="{{@index}}"> {{this}}<br>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    {{else}}
        <div id="japanese-quiz-container">
            {{#each japaneseQuiz}}
                <div class="question">
                    <p>{{this.question}}</p>
                </div>
                <div class="choices">
                    {{#each this.choices}}
                        <input type="radio" name="choice" value="{{@index}}"> {{this}}<br>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    {{/if}}
    <button id="next-button">Next</button>
{{else}}
    <p>Please select a language.</p>
{{/if}}
</div>
<script src="/js/languageSelection.js"></script>